<a href="https://colab.research.google.com/github/coder-j-0090/Self_Study/blob/main/Python_DataAnalysis_ML/1.2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%881_2(%EC%9E%90%EB%A3%8C%ED%98%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

특성이 달라서 따로 배워야 되는거라 새로운 파일을 만든거다. ipynb 는 collab 노트파일 확장자.

특이한 자료형

리스트
밑에껀 리스트 만들기 4가지 방법

### **리스트의 4가지 방법**

In [ ]:
#List1
a = [1,2,3]
print(a)
print(a[1])
print(a*2)

[1, 2, 3]
2
[1, 2, 3, 1, 2, 3]

In [ ]:
#List2
a=[]        #추가 추가 하는방식으로 삽입. append 사용. List 클래스에 미리 만들어져 있다.
for x in range(1,11,1):
    a.append(x)

print(a)

b=[1,3,5]
a = a+b         #리스트끼리 더하면 뒤에 이어붙어진다.
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 5]

리스트 표현식

In [ ]:
#List3
a = [ 0 for x in range(10)]     #앞의 0 대신 다른것도 사용 가능
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

생성자 이용해서 실행

In [ ]:
#List4
a = list(range(1,11,2))      #홀수만 출력
print(a)

[1, 3, 5, 7, 9]

타입에 상관없이 막 넣어도 된다

In [ ]:
a = [1, 'a', 3.14, "hello", [1,4,5], "돼지"]        #데이터 타입 상관없이 막 집어넣을 수 있다.
print(a)

[1, 'a', 3.14, 'hello', [1, 4, 5], '돼지']

In [ ]:
a[3][2]

'l'

## **슬라이싱(공식명칭)**

In [ ]:
a = [1,2,3,4,5,6,7,8,9,0]
                #-3,-2,-1
print(a[3 : 7])     #3이상 7 미만
print(a[:7])
print(a[3: ])
print( a[:])
print(a[-1])
print(a[-5:-1])
print(a[-2:7])      #왼쪽이 이상, 오른쪽이 미만
print(a[3:20])      #슬라이싱 에서는 값을 넘어가면 끝에꺼 까지만 나온다.

#갯수 몇개있는지 알려주는 함수가 len 이다.
print(len(a))
type(a)

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
[6, 7, 8, 9]
[]
[4, 5, 6, 7, 8, 9, 0]
10

list

튜플

In [ ]:
t = (1,2,3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

튜플과 리스트의 차이 : 튜플은 변경이나 추가가 안된다.
값을 못바꾸게 해야할떄 튜플 사용

내가 의도적으로 바꾸지 않는 이상 값은 고정이다.

In [ ]:
a = list(t)     #튜플을 리스트로 만들고
print(a)

print()

for x in range(3):
    a[x]=a[x]*2

print(a)

t = tuple(a)
print(t)

[1, 2, 3]

[2, 4, 6]
(2, 4, 6)

딕셔너리 {} 사용

In [ ]:
a={ 1:'hongkildong', 2:85, 'C':['cider','350ml',1000]}
print(a['C'])

#없는걸 찾으면 에러뜬다
#print(a['F'])

#딕셔너리는 수정 가능
a['C'] = ['cola', 1500, 3000]
print(a['C'])


a['F'] = "F D B"
print(a['F'])

['cider', '350ml', 1000]
['cola', 1500, 3000]
F D B