<a href="https://colab.research.google.com/github/coder-j-0090/Self_Study/blob/main/Python_DataAnalysis_ML/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%881.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input()
print(a)

3
3

파이썬은 변수 datatype 안쓰고 그냥 쓴다.

In [ ]:
a=input('input number')   #' ' 안에 있는건 안내메세지
print(a*2)

input number4
44

a를 두번썼다. 숫자로 인식이 안됐다. 데이터 타입을 안써줘서

In [ ]:
a= int( input('input number '))   #int 로 데이터타입 선언하면 숫자로 인식한다.
print(a*3)

In [ ]:
a = int( input('input number1 : '))
b = int( input('input number2 : '))
print(a+b)
print(a-b)
print(a*b)
print(a/b)    #나누기   1/3 =. .333333
print(a//b)   #몫      0
print(a%b)
print(a**b)   #거듭제곱(제곱지수)     a^b

In [ ]:
a, b, c = map( int, input('3 nums').split(',')  )         #.을 찍었단거는 앞에걸 객체로 인식. 아무것도 안쓰면 공백으로 쪼개고. ' ' 안에 넣은걸 기준으로 쪼갠다. Comma Seperate Value
                                                          # map 은 뒤에 있는 내용을 앞에 있는 데이터 타입으로 바꾼다 (map(datatype, input('3nums').split(',')))
print( a+b+c)

3 nums5,7,8
20

In [ ]:
print('hello')
print(" 'hello' ")
print(' "hello" ')

print('''hello
bye''')   #세개 짜리를 쓰면 줄바꾸기도 이런식으로 가능 '를 쓰던 " 를 쓰던 '''를 쓰던 세 쌍만 쓰면 된다.

hello
 'hello'
 "hello"
hello
bye

In [ ]:
print(a,b,c)    #위에서 입력한 변수를 얘가 안다.
print(a, '+', b, '=', a+b)

In [ ]:
print('%d+%d=%d'%(a,b,a+b))
print('%d+%d=%2d'%(a,b,a+b))

In [ ]:
print( '{}+{}={}'.format(a,b,a+b))    #원래순서0, 1, 2
print( '{1}+{0}={2}'.format(a,b,a+b)) #순서를 1, 0, 2로 바꾼다.
print( '{1}+{0:2d}={2}'.format(a,b,a+b))    #:2d 를 사용한다.

In [ ]:
#줄안바꾸고 출력
print('1hello')
print(" '2hello' ")
print(' "3hello" ',end='\n')
print('4hello ',end='')   #end 값 바꿧다. 재정의했다.(overriding)
print('5 hello')

## **입출력 끝!**

In [ ]:
kor, eng, math = map(int, input('Enter score: ').split(','))

if kor==100 or eng==100 or math==100:
    print("Special Pass")

elif kor+eng+math>180 and kor>=40 and eng>=40 and math>=40 :
    print('Pass!')

else :
    print('go home')

In [ ]:
for x in range(1, 11, 1) :  #range(a,b,c)    a 이상 b미만 증감치c. c에서는 배열 파이썬에서는 리스트. 리스트 안의 값을 하나씩 넣어서 프린트한다.
    print(x)

In [ ]:
for x in range(1, 11, 1):
    print(x, end = ' ')     #한칸 띄우기

In [ ]:
for x in [11, 5, 8, 3, 9, 0]:
    print(x, end = ' ')

# range 자체가 함수라 리스트 안에껄 하나씩 꺼내서 출력한다. 공식명칭 : unpacking.

In [ ]:
a = [1,3,5,7]
7 in a      #in 의 역활은 안에 들어있는지 체크하는것

In [ ]:
for x in range(1, 11, 1):
    print(x, end=' ')

print()

for x in range(1, 11):          #증감치는 생략하면 무조건 +1이다.
    print(x, end=' ')

print()

for x in range(11):         #시작값은 생략하면 0 이 된다.
    print(x, end=' ')

In [ ]:
for x in range(1, 11, 1):
    for y in range(x, 11, 1):
        print('*', end=' ')
    print()

print()
print()

for x in range(1, 11, 1):
    for y in range(1, x, 1):
        print('*', end = ' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*



*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
a=1
sum=0

while sum<1000:
    sum+=a
    a += 1          #a++ 가 안된다.

print(a)

46

In [ ]:
num1, num2 = map(int, input("Enter number: ").split(','))       #num1 은 메인숫자1, num2 는 메인숫자2

while num1!=num2 :
    if num1>num2 :
        num1 = num1 - num2

    else :
        num2 = num2 - num1

    #밑에꺼나 위에꺼나 결과는 같다. 논리적으로 else 가 더 맞다.
    # if num2>num1 :
    #     num2 = num2 - num1

print(num1, end = ' ')
print(num2)

In [ ]:
type('hello')   #타입찾기

type(1)

#print 안쓰고 그냥 type 만 쓰면 다 값이 안나온다.

In [ ]:
id(' hello ')           #메모리주소

## **For, while, if 등의 반복문&조건문 완료**

In [ ]:
#메소드
def hello():
    print("hi!")

def bye():
    print("good bye")

def sum(x,y):
    return x+y

def average(x):
    return x/2

hello()

a, b = map(int, input("Enter num : ").split(','))
c=sum(a,b)
d=average(c)

print(c)
print(d)
bye()

In [ ]:
#factorial

num = int(input("Enter value :"))

def factorial(x):
    if(n==1):
        return 1;
    else:
        return x*factorial(x-1)

#재귀함수 규칙
#1.basic case : 끝날떄의 조건을 써줘야한다.
#2.normal case : 일반적으로 반복하는거
#1 과 2의 순서를 안지키면 무한 반복이다.

print(factorial(num))

In [ ]:
#fibonacci

def fibo(n):
    if n<=2:
        return 1
    else :
        return fibo(n-1)+fibo(n-2)

print(fibo(5))

## **메소드 완료**

In [ ]:
#계단문제. 개구리 점프뛰기. 20칸의 계단을 올라야한다. 가능한 점프수는 1칸, 2칸, 3칸.

#첫칸은 한번
#둘째칸은 한번 한번, 한번
#셋째칸은 한번 한번 한번, 두번 한번, 한번 두번, 세번

#chat gpt 한테 해결법 묻기전에 4,5,6,7,8번쨰 칸에 올라갈 수 있는 경우의 수의 갯수를 알아보고 노력해보고 다시 물어보라


num = int(input("Enter number : "))
def frog(n):
    if n==num:
        return 1
    else :
        return frog(n-1)+frog(n-2)+frog(n-3)

print(frog(num))

def count_ways(n):
    if n == 0 or n == 1:
        return 1
    elif n == 2:
        return 2
    else:
        return count_ways(n-1) + count_ways(n-2) + count_ways(n-3)

# 개구리가 20칸의 계단을 오를 수 있는 방법의 수 계산
result = count_ways(20)
print(result)


count_ways(5)
= count_ways(4) + count_ways(3) + count_ways(2)
= (count_ways(3) + count_ways(2) + count_ways(1)) + (count_ways(2) + count_ways(1) + count_ways(0)) + count_ways(2)
= ((count_ways(2) + count_ways(1) + count_ways(0)) + count_ways(1) + count_ways(1)) + (count_ways(1) + count_ways(1) + count_ways(0)) + count_ways(2)
= ((2 + 1 + 1) + 1 + 1) + (1 + 1 + 1) + 2
= 8